[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
wheel = "*"
setuptools = "*"
model-mommy = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
coloredlogs = "*"
pandas = "*"
tabulate = "*"
jinja2 = "*"
humanize = "*"

[requires]
python_version = "3.8"
