[Unit]
Description=ssnapshot is a service to create export slurm status information to the prometheus exporter

[Service]
ExecStart=/opt/ssnapshot/.venv/bin/ssnapshot -a -p --prometheus --daemonize --sleep 120 --outfile /var/lib/prometheus/node-exporter/ssnapshot.prom
Environment=PATH=/opt/slurm/bin
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
